<div class="container" style="font-family: 'Nunito'">
    <div class="d-flex justify-content-between">
        <h2>O nama</h2>
        <div class="logo-div d-flex flex-wrap" routerLink="/" style="margin-left: 20px">
            <img style="width: 70px" [src]="
          'https://www.pngkey.com/png/full/37-379897_logo-travel-logo-png-free.png'
        " alt="photo" />
            <h6 style="margin-top: 15px; color: rgb(56, 180, 252)">
                &nbsp;globetraveler
            </h6>
        </div>
    </div>

    <hr />
    <p>
        Kompanija Globetraveler osnovana je 2009. godine sa sjedištem u Sarajevu, glavnom gradu Bosne i Hercegovine. Osnivač i vlasnik je Mr Q sa preko 40 godina iskustva u turizmu, koje je ugradio u temelje Globetraveler-a. Ukazano povjerenje klijenata i partnera
        širom svijeta doprinijelo je da kompanija svih prethodnih godina posluje uspješno. Kontinuirano ulaganje u razvoj i obogaćenje ponude imperativ je naše kompanije. Trenutno, Globetraveler ima 9 uposlenih radnika koji predstavljaju jednu od temeljnih
        vrijednosti kompanije.
    </p>
    <br />
    <h3>Naša vizija</h3>
    <h6>Regionalni lider u segmentu turizma</h6>
    <p>
        Naša vizija pomaže nam da odredimo pravac razvoja i konačan cilj. Ona odražava našu težnju da budemo najbolji u svemu što radimo. Temelj je svega što predstavljamo kao kompanija. Naša vizija i vrijednosti utiču na izbore i odluke koje naši zaposleni donose
        svakoga dana.
    </p>
    <br />
    <h3>Tri osnova segmenta poslovanja</h3>
    <h6>Avio karte</h6>

    <p>
        <b>BH Passport je akreditovani IATA (International Air Transport
      Association) agent.</b
    >
  </p>
  <p>
    Prodaja i rezervacija avionskih karata se vrši kroz rezervacioni sistem
    AMADEUS GDS u kome su zastupljene mnoge aviokompanije, te je kroz njega
    moguća prodaja karata za 440 avio prevoznika. Prodajna mreža koja je
    povezana na Amadues broji blizu 100.000 agencija, uključujući i mnoge online
    agencije, a koristi se u 195 zemalja svijeta. Pored pomenutnog sistema
    prodaje potpisnici smo direktnih ugovora sa značajnim brojem aviokompanija
    što nam omogućava dodatnu konkurentsku prednost u oblasti grupnih putovanja,
    posebnih zahtjeva klijenta, te ugovaranja incentive stimulativnih programa.
    Tri od devet uposlenika su licencirani IATA agenti sa svim pripadajućim
    kvalifikacijama stečenim kroz stručno obrazovanje.
  </p>
  <br />
  <h6>Turistički aranžmani - outgoing turizam</h6>
  <p>
    Kreiranje individualnih putovanja "prema želji putnika" naša je specijalnost
    u oblasti outgoing turizma. Pored individualnih putovanja naša ponuda
    uključuje i grupna putovanja iz vlastite i subagentske mreže, krstarenja,
    Spa & Wellnes ponude. Kao poseban segment naše ponude izdvojili bismo
    poslovna putovanja i kongresni turizam. Pored direktnih kontakata i saradnje
    sa partnerima koristimo i poznate globalne platforme za rezervaciju
    smještaja u provjernim hotelima širom svijeta kao što su: Go Global, Hotels
    Pro - Global Travel Wholesaler, Met Global, Vanilla Booking Wholesaler. Na
    ovaj način imamo mogućnost rezervacije hotelskog smještaja u 208 zemalja
    svijeta u preko 200.000 smještajnih objekata.
  </p>
  <br />
  <h6>
    Turistički aranžmani - incoming turizam, dovođenje stranih gostiju u Bosnu i
    Hercegovinu i regiju Balkana
  </h6>
  <p>
    Fokus našeg poslovanja je specijalizacija u incoming / receptivnom turizamu.
    Bazirani na višegodišnjem iskustvu i ostvarenim rezultatima našeg tima u
    segmentu receptivnog turizma, saradnju realizujemo sa razgranatom mrežom:
    preko 500 partnera i dobavljača na tržištu Bosne i Hercegovine i Balkana, a
    koji uključuju: hotele, vile i apartmane, restorane, prevozničke firme,
    stručne turističke vodiče, kongresne kapacitete, dobavljače opreme,
    proizvođače izlagačkih štandova, prevodioce, muzeje, galerije itd. Sve
    navedeno omogućava da BH Passport bude pouzdan partner na svakoj
    destinaciji. U dijelu receptivnog turizma izdvojili bismo medicinski
    turizam. Ugovori sa klinikama i sa banjama specijalizovanim za liječenje
    određenih bolesti omogućavaju nam da uspješno realizujemo ove vrste
    programa. U dosadašnjem radu u segmentu incominga izdvojili bismo rad sa
    Libijskom aviokompanijom u periodu od 2009 do 2011 godine sa kojom smo
    realizovali direktan let Tripoli-Sarajevo-Tripoli, te napravili turističke i
    medicinske pakete za dovođenje gostiju u BiH. Preko 5.000 gostiju posjetilo
    je BiH na ovaj način. Od 2009. godine do danas, poslujemo i sarađujemo sa
    tržištima Bahreina, UAE, Turske, Njemačke, Austrije, Albanije, Makedonije,
    Malezije i dr, a kontinuirano razvijamo programe za nova tržišta.
  </p>
  <br />
  <br />
</div>
<br />

<app-footer> </app-footer>