<div [class.containerr]="!searchState" [class.none]="searchState">
    <div>
        <i title="Close search bar" (click)="closingFunction()" class="fas fa-times"></i>
        <form [formGroup]="form" style="font-family: 'Nunito'">
            <div class="input-group">
                <input formControlName="searchInput" (keyup)="search()" autocomplete="off" type="text " class="form-control shadow-none" placeholder="Pretraži " name="search" />
                <div class="input-group-btn">
                    <button (click)="searchByClick()" class="btn btn-warning search-btn shadow-none">
            <i class="fas fa-search"></i>
          </button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="d-flex main-wrapper">
            <div class="side-filters">
                <div>
                    <h4 style="
              font-family: 'Nunito';
              color: #2626589f;
              text-align: center;
              margin-top: 15px;
            ">
                        Filtrirajte ponudu
                    </h4>
                    <br />
                </div>
                <div class="filter-div">
                    <div class="state-div">
                        <div class="d-flex justify-content-between" style="padding-left: 35px; width: 70%">
                            <h5>Država</h5>
                            <i *ngIf="!isCountryFilterOpened" (click)="isCountryFilterOpened = true" style="margin: 6px 0 0 15px" class="fas fa-plus"></i>
                            <i *ngIf="isCountryFilterOpened" (click)="isCountryFilterOpened = false" style="margin: 6px 0 0 15px" class="fas fa-minus"></i>
                        </div>
                        <div *ngIf="isCountryFilterOpened" style="
                background-color: rgb(255, 255, 255);
                padding: 10px;
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              ">
                            <div *ngFor="let country of countriesArray" style="display: flex; align-items: center">
                                <form [formGroup]="countryCheckBox">
                                    <input formControlName="countries" (click)="getValues($event, country.country)" style="width: 20px; height: 20px; margin-right: 15px" [id]="'country' + country.country" type="checkbox" />
                                    <label style="font-family: 'Nunito'" [for]="'country' + country.country">{{ country.country }}</label
                  >
                </form>
              </div>
            </div>
          </div>
          <div class="state-div">
            <div
              class="d-flex justify-content-between"
              style="width: 70%; padding-left: 35px"
            >
              <h5>Cijene</h5>
              <i
                *ngIf="!isPriceFilterOpened"
                (click)="isPriceFilterOpened = true"
                style="margin: 6px 0 0 15px"
                class="fas fa-plus"
              ></i>
              <i
                *ngIf="isPriceFilterOpened"
                (click)="isPriceFilterOpened = false"
                style="margin: 6px 0 0 15px"
                class="fas fa-minus"
              ></i>
            </div>
            <div
              *ngIf="isPriceFilterOpened"
              style="
                background-color: rgb(255, 255, 255);
                padding: 10px;
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <div style="display: flex; align-items: center">
                <input
                  (click)="getValues($event)"
                  style="width: 20px; height: 20px; margin-right: 15px"
                  id="price_1"
                  type="checkbox"
                />
                <label for="price_1">10 - 100 €</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="price_2" type="checkbox" />
                                <label for="price_2">100 - 500 €</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="price_3" type="checkbox" />
                                <label for="price_3">500 - 1000 €</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="price_4" type="checkbox" />
                                <label for="price_4">1000 - 2000 €</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="price_5" type="checkbox" />
                                <label for="price_5">Iznad 2000 €</label>
                            </div>
                        </div>
                    </div>
                    <div class="state-div">
                        <div class="d-flex justify-content-between" style="width: 70%; padding-left: 35px">
                            <h5>Broj dana</h5>
                            <i *ngIf="!isDaysFilterOpened" (click)="isDaysFilterOpened = true" style="margin: 6px 0 0 15px" class="fas fa-plus"></i>
                            <i *ngIf="isDaysFilterOpened" (click)="isDaysFilterOpened = false" style="margin: 6px 0 0 15px" class="fas fa-minus"></i>
                        </div>
                        <div *ngIf="isDaysFilterOpened" style="
                background-color: rgb(241, 244, 252);
                padding: 10px;
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              ">
                            <div style="display: flex; align-items: flex-start">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="days_1" type="checkbox" />
                                <label for="days_1">1 - 5 dana</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="days_2" type="checkbox" />
                                <label for="days_2">6 - 10 dana</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="days_3" type="checkbox" />
                                <label for="days_3">11 - 15 dana</label>
                            </div>
                            <div style="display: flex; align-items: center">
                                <input (click)="getValues($event)" style="width: 20px; height: 20px; margin-right: 15px" id="days_4" type="checkbox" />
                                <label for="days_4">16 - 20 dana</label>
                            </div>
                        </div>
                    </div>
                    <div class="state-div">
                        <div class="d-flex justify-content-between" style="width: 70%; padding-left: 35px">
                            <h5>Tip prijevoza</h5>
                            <i *ngIf="!isTransportFilterOpened" (click)="isTransportFilterOpened = true" style="margin: 6px 0 0 15px" class="fas fa-plus"></i>
                            <i *ngIf="isTransportFilterOpened" (click)="isTransportFilterOpened = false" style="margin: 6px 0 0 15px" class="fas fa-minus"></i>
                        </div>
                        <div *ngIf="isTransportFilterOpened" style="
                background-color: rgb(241, 244, 252);
                padding: 10px;
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              ">
                            <div *ngFor="let type of transportType" style="display: flex; align-items: flex-start">
                                <input (click)="getValues($event, type.id)" style="width: 20px; height: 20px; margin-right: 15px" [id]="'transport' + type.id" type="checkbox" />
                                <label [for]="type.transport_type">{{
                  type.transport_type
                }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="home-main-container" style="background-color: rgba(255, 255, 255, 0.5)">
                <h4 style="
            position: relative;
            top: -14px;
            left: 0;
            font-family: 'Nunito';
            color: #aaaab19f;
          ">
                    Rezultati Vaše pretrage...
                </h4>
                <div class="d-flex flex-wrap justify-content-evenly">
                    <div class="card" *ngFor="let destination of resultArray" (click)="detect(destination.dest_id)" (click)="openFullInformation(destination.dest_id)">
                        <div>
                            <img [src]="destination.image1" alt="Photo " />
                            <div class="price">
                                <h4 style="display: inline">od</h4>
                                <span><h4 style="display: inline">
                    {{ destination.price }}
                  </h4></span
                >
                <h4 style="display: inline">&nbsp;€</h4>
              </div>
            </div>
            <div class="card-header">
              <h3>{{ destination.name }}</h3>
            </div>
            <div class="card-info">
              <p>
                {{ destination.description | descriptonPipe }}
              </p>
            </div>
            <h6 style="text-align: end; margin-right: 30px">
              Saznajte više...
            </h6>
          </div>

          <div
            class="card"
            *ngFor="let destination of filteredResult"
            (click)="detect(destination.dest_id)"
            (click)="openFullInformation(destination.dest_id)"
          >
            <div>
              <img [src]="destination.image1" alt="Photo " />
              <div class="price">
                <h4 style="display: inline">od&nbsp;</h4>
                <span
                  ><h4 style="display: inline">
                    {{ destination.price }}
                  </h4></span
                >
                <h4 style="display: inline">&nbsp;€</h4>
              </div>
            </div>
            <div class="card-header">
              <h3>{{ destination.name }}</h3>
            </div>
            <div class="card-info">
              <p>
                {{ destination.description | descriptonPipe }}
              </p>
            </div>
            <h6 style="text-align: end; margin-right: 30px">
              Saznajte više...
            </h6>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>