<div class="container" style="font-family: 'Nunito'">
    <div class="d-flex justify-content-between">
        <h2>Pravila putovanja</h2>
        <div class="logo-div d-flex flex-wrap" routerLink="/" style="margin-left: 20px">
            <img style="width: 70px" [src]="
          'https://www.pngkey.com/png/full/37-379897_logo-travel-logo-png-free.png'
        " alt="photo" />
            <h6 style="margin-top: 15px; color: rgb(56, 180, 252)">
                &nbsp;globetraveler
            </h6>
        </div>
    </div>

    <hr />
    <br />

    <h4>Opći uslovi putovanja</h4>

    <p>
        Na osnovu člana 18., stav 10 Zakona o turističkoj djelatnosti FBiH („Službene Novine FBiH “ br. 32/2009) direktor Globetraveler-a iz Sarajeva, Zmaja od Bosne 21, dana 11.03.2013.god. utvrđuje:
    </p>

    <h5>OPĆE USLOVE PUTOVANJA</h5>

    <p>
        Odredbe ovih Općih uslova čine sastavni dio ugovora o putovanju između putnika i Globetraveler d.o.o (u daljem tekstu “Organizator putovanja) i obavezuju ugovorne strane, osim odredbi koje su drugačije definisane, pisanim ugovorom ili programom putovanja.
    </p>

    <h6>NAPOMENA:</h6>
    <p>
        Poštovani putnici, Ugovor o putovanju I Opća pravila putovanja su nevažeći dok traje vanredna situacija izazvana pandemijom COVID 19.
    </p>
    <br />
    <h6>1. PRIJAVE I UPLATE</h6>

    <p>
        Putnik se, za putovanje koje organizuje Globetraveler d.o.o., može prijaviti preko svog privatnog računa na našoj web stranici, svim poslovnim jedinicama, odnosno izdvojenim posebnim prostorima organizatora putovanja i agencijama sa kojima ima zaključen
        Ugovor o posredovanju (u nastavku: Posrednik). Kada agencija posrednik u programu, (koji mora biti u potpunosti identičan sa programom organizatora, bez ikakvih izmjena ili dopuna) i potvrdi o putovanju, ne naznači svojstvo posrednika ili program
        izmijeni, odgovara za izvršenje programa putovanja kao organizator. Prijava o putovanju postaje punovažna kada je potvrđena od službe rezervacija, uz obavezno zaključenje pismenog ugovora o putovanju, koji može biti i u elektronskoj formi. Svojim
        potpisom na ugovoru, putnik potvrđuje da je upoznat sa Opštim uslovima putovanja i programom putovanja, kao i uslovima osiguranja, koji čine sastavni dio ugovora, te da se sa istima upoznao (kao i lica koja su naznačena u ugovoru), a zaključenjem
        ugovora i saglasio. Organizator je u obavezi da, prije zaključenja Ugovora, obavijesti putnika o svakoj promjeni podataka iz Programa, u pismenoj formi ili na trajnom nosaču (trajnom mediju) koji je lako dostupan putniku. Ako je putnik rezervisao
        putovanje putem sredstava komunikacije na daljinu (email i slično), organizator je u obavezi o eventualnim promjenama obavijestiti ga, na način na koji je izvršena rezervacija, te putnik može u roku od 2 (dva) dana od prijema obavještenja, prihvatiti
        novu ponudu ili obavijestiti organizatora da istu ne prihvata i da rezervaciju otkazuje. Prilikom prijave, putnik je dužan uplatiti obaveznu akontaciju, u visini od 50% cijene aranžmana, ukoliko nije drugačije predviđeno programom putovanja, a
        ostatak do punog iznosa ugovorene cijene, najkasnije 21 (dvadeset i jedan) dan prije početka putovanja, ukoliko programom putovanja nije odredjen drugačiji rok. Ukoliko putnik, u roku predvidjenim ugovorom, programom putovanja ili ovim opštim
        uslovima, ne izvrši uplatu u cjelosti, smatra se da je putovanje otkazao, te će se primjeniti odredbe tač 10. ovih Uslova. Ugovor o putovanju proizvodi pravno dejstvo ne samo u odnosu na putnika koji je isti formalno zaključio i potpisao, već
        i prema ostalim korisnicima aranžmana naznačenim u Ugovoru, tako da se uplata akontacije, otkaz i pravne posljedice i drugo, odnose na sve putnike. Ovo se posebno odnosi na prethodno upoznavanje sa Programom i Opštim uslovima putovanja i osiguranja,
        te se smatra da su isti uručeni i prihvaćeni od strane svih putnika iz ugovora.
    </p>
    <br />

    <h6>2. OBAVEZE I PRAVA ORGANIZATORA PUTOVANJA</h6>
    <p>
        Organizator putovanja dužan je ponašati se sa pažnjom dobrog organizatora, kako u pogledu usluga koje izvršava sam, tako i pri izboru osoba kojima je povjereno izvršavanje pojedinih usluga. Pored toga, organizator putovanja je u obavezi:
    </p>

    <ul>
        <li>da sa putnikom zaključi pismeni ugovor o putovanju;</li>
        <li>
            da putniku uruči pisani program putovanja, upozna sa opštim uslovima putovanja, opštim uslovima osiguranja, kao i da ga upozna sa mogućnošću i ponudom različitih vidova osiguranja;
        </li>
        <li>
            da se stara o pravima i interesima putnika saglasno dobrim poslovnim običajima u ovoj oblasti;
        </li>
        <li>
            da, u skladu sa važećim zakonskim odredbama i pravilima struke, otkloni nesklad između ugovorene i pružene usluge, a u slučaju da to nije u mogućnosti, ponudi putniku druge odgovarajuće usluge do okončanja tustičkog putovanja, bez dodatnih troškova za
            putnika.
        </li>
        <li>
            da ponudi i izvrši putniku povrat realne razlike u cijeni povodom blagovremenog i osnovanog pismenog prigovora zbog potpunog ili djelimičnog neizvršenja usluga, obuhvaćenih programom putovanja, sve u skladu sa zakonom i opštim uslovima Organizatora putovanja,
        </li>
        <li>
            da putniku, neposredno prije polaska na putovanje dostavi ime, adresu i broj telefona lokalnog predstavnika, odnosno lokalne agencije, ino partnera organizatora, kojima se putnik može obratiti za slučaj neodložne potrebe.
        </li>
    </ul>
    <br />

    <h6>3. PRAVA I OBAVEZE PUTNIKA</h6>

    <p>
        Pravo je i dužnost putnika da se, prije zaključenja ugovora o putovanju, detaljno upozna sa programom putovanja, kao i sa sadržajem opštih uslova putovanja i uslova osiguranja, što prilikom zaključenja ugovora o putovanju, putnik (u svoje ime i u ime
        korisnika za čije potrebe vrši uplatu) potvrđuje samim potpisivanjem Ugovoru. Putnik je u obavezi da uplati ugovorenu cijenu aranžmana pod uslovima i na način predviđen ugovorom i programom putovanja. Putnik je dužan da, na traženje organizatora,
        blagovremeno dostavi sve podatke i isprave potrebne za organizovanje putovanja, a posebno za pribavljanje viza, prijevoznih karata, rezervaciju za smještaj i sl. Putnik garantuje da on lično, njegove isprave, prtljag ispunjavaju uslove određene
        pozitivnim propisima Bosne i Hercegovine, propisima odredišne zemlje, kao i zemalja kroz koje se prolazi (granični, carinski, sanitarni, monetarni i drugi propisi). Putnik odgovara za štetu koju učini organizatoru putovanja ili trećim licima,
        kršenjem navedenih zakonskih i administrativnih propisa. Putnik može odrediti drugo lice da umjesto njega koristi aranžman (uz uslov da to lice zadovoljava zahtjeve predviđene za određeno putovanje) u tom slučaju putnik je u obavezi organizatoru
        putovanja nadoknaditi stvarne troškove prouzrokovane zamjenom. Putnik garantuje za obaveze trećeg lica prema organizatoru, za slučaj zamjene. Putnik je u obavezi da dobronamjerno sarađuje i strpljivo sačeka vremenski okvir od 24 do 48 h da se
        opravdani prigovor otkloni (kvar frižidera, nestanak struje ili vode, loše očišćen apartman i dr.). Prilikom odabira destinacije, a prije zaključenja ugovora, putnik je dužan da se informiše, preko web adrese Ministarstva vanjskih poslova Bosne
        i Hercegovine ( www.mvp.gov.ba ) ili na drugi način, o zemljama tzv. visokog ili umjerenog rizika, kao i o svim drugim činjenicama koje bi, u konkretnom slučaju, mogle biti relevantne, za izbor i realizaciju putovanja. Takođe, molimo putnike da
        se prije izbora destinacije, a prije odabira programa upoznaju sa važećim propisima, pravilima, običajima i zabranama na destinaciji (način odijevanja, konzumiranje alkoholnih pića, zabrani pušenja…). Smatra se da je putnik, pristupivši zaključenju
        Ugovora, upoznat sa relevantnim okolnostima, koje, ukoliko su postojale u vrijeme zaključenja ugovora, ne mogu imati pravni značaj promijenjenih okolnosti, u smislu važećih gradjanskopravnih propisa. Putnik je u obavezi da se najkasnije 24 sata,
        ali ne ranije od 48 sati informiše kod vodiča-predstavnika o tačnom vremenu povratka.
    </p>
    <br />
    <h6>4. CIJENA, SADRŽAJ I TRAJANJE ARANŽMANA</h6>
    <p>
        Cijene su objavljene u programu putovanja, i važe počev od dana objavljivanja programa, a iskazane su u skladu sa važećim propisima, u konvertibilnim markama (BAM) ili u nekoj od konvertibilnih valuta (EUR, USD i sl.), a obračun i uplata vrši se isključivo
        u konvertibilnim markama (BAM) po prodajnom kursu poslovne banke organizatora putovanja, za efektivu, na dan uplate, ako u programu putovanja nije drugačije predvidjeno. Za dan plaćanja računa se dan kada je putnik izvršio uplatu na blagajni BH
        Globetraveler d.o.o., kod ovlašćenog posrednika, odnosno dan kada su sredstva prispjela na transakcijski račun organizatora kod poslovne banke. Ako su putnici uslugu plaćanja izvršili kod agencije posrednika, preporučujemo, radi vaše sigurnosti,da
        provjerite da li su novčana sredstva blagovremeno prispjela na račun organizatora putovanja, u finansijskoj službi BH Passport d.o.o., na broj telefona +387 33 721 638. Organizator može da predvidi da usluge koje se isključivo koriste u inostranstvu
        (fakultativni izleti, ulaznice na lokalitetima i sl.) putnik plaća direktno inostranoj agenciji – trećem licu, u inostranstvu. Cijene su utvrđene na osnovu ugovora sa našim ino partnerima i NE MORAJU odgovarati cijenama objavljenim na licu mjesta
        – destinaciji, gde putnik boravi, te eventualna razlika u cijeni, ne može biti predmet reklamacije. Putnik je dužan cijenu uplatiti onako kako je ugovoreno, te eventualne reklamacije i prigovori na kvalitet izvršenih usluga, ne mogu uticati na
        ugovorenu obavezu putnika, naročito u slučaju uplate cijene u ratama, već se u tom slučaju imaju primijeniti odredbe tač 12. ovih opštih uslova. Cijena aranžmana, po pravilu (ukoliko nešto drugo nije naznačeno u programu putovanja) obuhvata: usluge
        prijevoza, hotelske, ugostiteljske usluge i troškove organizacije putovanja. Cijena aranžmana, po pravilu, NE obuhvata, ako nešto drugo nije ugovoreno:
    </p>
    <ul>
        <li>fakultativne izlete,</li>
        <li>aerodromske takse i druge takse</li>
        <li>troškove pribavljanja i izdavanja viza</li>
        <li>usluge predstavnika, vodiča, lokalnog vodiča</li>
        <li>ulaznice za objekte koji se posećuju</li>
        <li>osiguranje putnika i prtljaga, koje se ugovara posebno</li>
        <li>
            dodatne usluge kao što su room servis, korištenje sobnog bara, klima uređaja, sportske, rekreativne, ljekarske, telefonske usluge, korištenje ležaljki i suncobrana, troškove smještaja u jednokrevetnoj sobi, sobi sa posebnim karakteristikama, posebne obroke
            i druge vidove posebnih vanstandardnih usluga i sl.
        </li>
    </ul>
    <p>
        Sadržaj putovanja je cjelina usluga, opisanih i ponuđenih u programu putovanja, koje organizator pruža tokom putovanja, za koje je objavio jedinstvenu cijenu putovanja. Sve vrste dodatnih usluga, specifičnog kvaliteta (jednokrevetna soba, dodatni obroci,
        drugi posebni uslovi i sl.) koje nisu predviđene programom putovanja, a za koje je putnik zainteresovan, stranke su u obavezi posebno pismeno ugovoriti sa organizatorom, prije putovanja, ukoliko je organizator u mogućnosti da obezbijedi realizaciju
        takvih posebnih usluga. Posrednik nije ovlašten da u ime organizatora nudi, prodaje i garantuje posebne usluge, koje nisu predviđene programom putovanja, osim u slučaju posebne pismene potvrde organizatora. Ukoliko putnik zahtijeva posebnu uslugu
        za vrijeme putovanja, van programa, plaća je na licu mjesta predstavniku strane agencije – trećeg lica, u valuti zemlje u kojoj se nalazi, a organizator nije odgovoran za usluge koje pruži i naplati strana agencija, u inostranstvu, odnosno neposredni
        pružalac usluga, a koje nisu bile predviđene programom putovanja, niti obuhvaćene pismenim ugovorom o putovanju. Fakultativni izleti nisu sastavni dio programa putovanja, i predstavljaju zaseban ugovor zaključen sa organizatorom izleta, inostranom
        agencijom, (koja vrši i naplatu troškova fakultative, u efektivi, u inostranstvu ) po konačnom izboru samog putnika, tako da preporučujemo da se sa posebnom pažnjom i oprezom odlučite za fakultativni program i izvršite, za Vas optimalan izbor,
        u svakoj konkretnoj situaciji. U odnosu na fakultativni program, BH Passport d.o.o. ne postupa kao organizator, niti kao posrednik, već samo kao pružalac informacija. Posebno skrećemo pažnju da, prema pravilima organizatora fakultativnog izleta
        (ino agencije) nepojavljivanje u zakazano vrijeme, smatra se odustankom od fakultativnog izleta, i putnik nema pravo na povrat uplaćenih sredstava. U slučaju neiskorišćenih usluga u hotelu, usljed odlaska na fakultativni izlet, putnik nema pravo
        na povrat sredstava u tom dijelu. Trajanje aranžmana određeno je brojem kalendarskih dana, računajući od dana početka do dana završetka putovanja, a ne brojem sati između sata polaska i povratka. Vrijeme polaska, dolaska, kao i trajanje putovanja
        je uslovljeno procedurama na graničnim prijelazima, stanjem na putevima, dozvolama nadležnih vlasti, na koje organizator ne može uticati, te zbog toga navedeni razlozi ne mogu biti predmet prigovora putnika. Kod avio aranžmana, ugovoreno vrijeme
        početka putovanja je sastanak putnika na aerodromu 2 sata ranije u odnosu na prvo objavljeno vrijeme polijetanja od strane avio kompanije, pa u slučaju pomjeranja navedenog vremena (što može zavisiti od niza okolnosti: tehničkih, vremenskih, bezbjedonosnih
        uslova, dozvola kontrole leta i sl.) organizator putovanja, budući da na iste nema uticaja, ne snosi nikakvu odgovornost, već se primjenjuju važeći propisi i uzanse u avio saobraćaju. Po pravilu, odlazak i dolazak aviona kod čarter letova je u
        kasnim večernjim, noćnim ili ranim jutarnjim satima, te ako je putniku obezbijeđen ugovoreni prvi ili posljednji obrok u vidu tzv. hladnog obroka u smještajnom objektu ili van istog (npr. u avionu) smatra se da je program putovanja u cjelosti
        izvršen. Za putovanje autobusom, ugovoreno vrijeme početka putovanja je sastanak putnika na mjestu polaska autobusa prvog dana putovanja, po pravilu, 30 minuta prije objavljenog vremena polaska. U skladu sa naprijed navedenim, prvi i posljednji
        dan su predviđeni za putovanje (a kod nekih vidova prevoza putovanje može trajati i više dana) i NE podrazumijevaju određeno vremensko trajanje boravka u hotelu ili mjestu opredjeljenja – već samo označavaju dan početka i završetka putovanja,
        pa evntualni prigovor ne bi bio opravdan ako je izjavljen samo zbog, primera radi, večernjeg, noćnog ili ranog jutarnjeg leta, ulaska u sobu u kasnim večernjim satima, napuštanja hotela u ranim jutarnjim satima i slično.
    </p>
    <br />
    <h6>5. PROMJENA CIJENE I PRAVO NA OTKAZ ZBOG POVEĆANJA CIJENE</h6>
    <p>
        Cijena aranžmana odredjena je na dan zaključenja ugovora, te obavezuje ugovorne strane, izuzev u zakonom predviđenim slučajevima, kada organizator može zahtijevati povećanje cijene. Organizator putovanja može zahtijevati povećanje ugovorene cijene ako
        je nakon zaključenja ugovora došlo do promjene u kursu razmjene valute, ili do promjene u tarifama prevoznika koje utiču na cijenu putovanja, kao i u drugim slučajevima predviđenim zakonom. O povećanju cijene, organizator je dužan obavijestiti
        putnika, pismeno ili usmeno, bez odlaganja, a po saznanju uzroka koji su doveli do povećanja cijene. Za povećanje cijene do 10% nije potrebna posebna saglasnost putnika, a ukoliko povećanje ukupne ugovorene cijene prelazi 10%, putnik može raskinuti
        ugovor bez obaveze naknade štete, ali najkasnije u roku od dva dana od dostavljanja obavještenja o povećanju cijene, u tom slučaju ima pravo na povrat uplaćenog iznosa kojeg je platio organizatoru putovanja, a u roku od 8 dana od dana dostavljanja
        pismenog otkaza. Ukoliko u naznačenom roku putnik pismeno ne obavijesti organzatora da odustaje od ugovora, smatra se da je saglasan sa novom cijenom. Organizator putovanja je u svako doba ovlašten da, zavisno od tržišnih kretanja i sopstvene
        poslovne politike, umanji cijenu aranžmana – umanjenje djeluje samo ubuduće i nije od uticaja na već zaključene ugovore, pa ne može predstavljati osnov bilo kakvih zahtjeva prema organizatoru putovanja za povrat eventualne razlike u cijeni. Putovanje
        u posljednjem trenutku, ili *last minute ponuda* znači da organizator, po nižoj cijeni može prodavati preostala slobodna mjesta na putovanju, kao i određen broj ili vrstu turističkih ponuda u pretprodaji – *first minute ponuda*. Posebno naglašavamo
        da organizator ima povremenu mogućnost da ponudi i neke posebno označene aranžmane nižih cijena, kod kojih sam naziv hotela ne mora biti nužno poznat u trenutku zaključenja ugovora, ali organizator garantuje, u tom slučaju , za podatke koji su
        sadržani u programu, kao što su kategorija hotela, mjesto smještaja, tip sobe i usluge u hotelu.
    </p>
    <br />
    <h6>6. KATEGORIZACIJA I OPIS USLUGA</h6>
    <p>
        Ponuđeni hoteli, apartmani, drugi smještajni objekti, kao i prijevozna sredstva u programima BH Passport d.o.o. opisani su prema službenoj kategorizaciji domicilne zemlje. U programu putovanja, navedena je važeća kategorizacija hotela, na dan zaključenja
        ugovora između organizatora putovanja i ino partnera, pa eventualne naknadne promjene i odstupanja od zvanično utvrđene kategorije hotela, za koje organizator nije znao, ne mogu biti od uticaja. Ishrana, komfor i kvalitet drugih usluga, determinisani
        su kategorijom i prije svega, cijenom, a pod nadzorom su mjesnih turističkih uprava, s tim što su standardi smještaja i usluga različiti i nisu uporedivi na pojedinim destinacijama. Posebno upozoravamo na razliku u standardima i kriterijumima
        karakterističnim za vaneuropske destinacije, u odnosu na opšteprihvaćena europska obelježja, radi čega preporučujemo, u svakom slučaju, izbor više kategorije hotela. Sve usluge navedene u programu putovanja podrazumijevaju PROSJEČNE STANDARDE
        KVALITETA, uobičajene i specifične za određene destinacije i mjesta, te ukoliko između stranaka nisu posebno pismeno ugovorene usluge drugačijeg obima, kvaliteta i karakteristika i namjene, iste ne mogu biti opravdano očekivane i zahtjevane. Opisi
        sadržani u ponudi organizatora putovanja se odnose isključivo na smještajne objekte sa pripadajućim pratećim sadržajima, a ne i na šire okruženje (primjera radi, okolne objekte, konfiguraciju terena, eventualnu buku, saobraćaj i sl.). Pojedini,
        u programu navedeni sadržaji, ne moraju biti u funkciji, posebno, imajući u vidu kalendarski period boravka kao i druge parametre (npr. otvoreni bazen u zimskom periodu ili zatvoreni bazen u ljetnjem periodu…), a sve u skladu sa pravilima hotelijera.
        Samo opisi usluga sadržani u programima putovanja su mjerodavni, a ne i opis usluga u katalozima, publikacijama ili na web stranicama neposrednih pružalaca usluga kao npr. hotela i dr. koji nisu obuhvaćeni datim Programom. Očigledne greške, štamparske,
        računske i sl. ne mogu imati obavezujući karakter. Usluge turističkog vodiča, turističkog pratioca, lokalnog turističkog vodiča i turističkog animatora ili lokalnog predstavnika organizatora predviđene programom putovanja ne podrazumijevaju njihovo
        cjelodnevno i kontinuirano prisustvo, već samo kontakt i neophodnu pomoć putniku po unaprijed utvrđenim terminima periodičnog dežurstva objavljenih na oglasnoj tabli ili na drugi prikladan način. Instrukcije i uputstva turističkog vodiča, turističkog
        pratioca ili predstavnika organizatora (posebno u vezi sa vremenom polazaka, prijevozom, smještajem, zakonskim i drugim propisima i dr.) obavezuju putnika, a nepridržavanje pomenutih instrukcija predstavlja povredu ovih opštih uslova i sve eventualne
        posljedice i štetu u takvom slučaju snosi putnik u cjelosti. Međutim, predstavnik organizatora, pratilac ili vodič nije ovlašten donositi odluku o eventualnoj neophodnosti za medicinsku pomoć putniku ili intervenciju policije i sl. već odluku
        o tome donosi isključivo putnik, po sopstvenom nahođenju i potrebi, u svakom konkretnom slučaju.
    </p>
    <br />
    <h6>7. SMJEŠTAJ U SOBE / APARTMANE</h6>
    <p>
        Raspored soba/apartmana određuje recepcija hotela u mjestu boravka. Hoteli koji su u ponudi, mogu biti sastavljeni od više istih ili različitih smještajnih objekata i jedinica. Ukoliko putnik, uz pismenu saglasnost organizatora, nije izričito ugovorio
        sobu ili apartman posebnog položaja i odlika, prihvatiće bilo koju službeno registrovanu sobu /apartman u pojedinom objektu opisanom u katalogu i cjenovniku, bez obzira na posebne zahtjeve samog putnika u odnosu na položaj objekta, spratnost,
        blizinu buke, parkinga i sl. kao i na to da li se soba nalazi u centralnoj zgradi ili nekom drugom objektu u okviru smještajnog kapaciteta, i sl. Putnici mogu da se odluče za vrstu usluge/najam, noćenje sa doručkom, polupansion, puni pansion,
        all inclusive, all inclusive light, all inclusive superior, all inclusive ultra superior, korištenje klima uređaja i dr. samo prilikom rezervacije aranžmana. Ukoliko je moguće, organizator putovanja će nastojati da izađe u susret putniku i zadovolji
        njegove dodatne zahtjeve u pogledu smještaja (komfor, orijentacija sobe i sl.), ali ne može garantovati ispunjenje dodatnih zahtjeva, koji nisu pismeno ugovoreni. Kvalitet usluge, lokalni prijevoz, raznovrsnost i kvantitet hrane određen je zvaničnom
        kategorijom objekta, visinom cijene, lokalnim običajima na određenoj destinaciji, bez obzira da li se radi o usluživanju po principu švedskog stola ili menija. Usluge all inclusive, all inclusive light, all inclusive superior, all inclusive ultra
        superior i dr. podrazumijevaju usluge po internim hotelskim pravilima (pružaju se od trenutka ulaska u hotel, do trenutka napuštanja) i ne moraju biti identične, ni u okviru iste kategorije, na istoj destinaciji. Doručak i večera, ukoliko drugačije
        nije naznačeno u programu putovanja, podrazumijevaju kontinentalni doručak, a večeru meni. Sadržaji hotela, dati u opisu koji prati program putovanja, pobrojani su na osnovu zvaničnih službenih podataka. Princip funkcionisanja klima uređaja razlikuje
        se u zavisnosti od destinacije, objekta i kalendarskog perioda u toku godine, i ne mora podrazumijevati neprekidan rad u toku 24 sata. Trokrevetne i četvorokrevetne sobe (ili apartmani) su, čak i u hotelima više kategorije, po pravilu, na bazi
        standardne dvokrevetne sobe sa jednim, odnosno dva pomoćna ležaja, koji su, po pravilu, drvene ili metalne konstrukcije, na rasklapanje, što, u većini slučajva, u bitnom može pogoršati kvalitet smještaja. Na zahtjev putnika, organizator može,
        (ukoliko hotel ima raspoloživih kapaciteta) obezbijediti smještaj u trokrevetnoj sobi, ali putnik unaprijed mora imati u vidu da je komfor, pa samim tim i kvalitet smještaja u ovim sobama lošiji, radi čega naknadni prigovori putnika koji se tiču
        naprijed navedenog (veličine sobe, slobodnog prostora i sl.) ne mogu biti osnovani. Molimo da uzmete u obzir da je uvijek moguć nestanak struje ili vode kako u odabranom objektu, tako i na odabranoj destinaciji, uzrokovan razlozima van uticaja
        organizatora putovanja, pa i samog neposrednog izvršioca usluga. U većini objekata se koristi sistem solarnih ploča za zagrijavanje vode, što podrazumijeva nešto nižu temperaturu tople vode, u odnosu na uobičajenu, kao i manji pritisak tople vode
        u odredjenim periodima dana, a u odnosu na kapacitet objekta. Po pravilu, voda iz vodovoda nije predvidjena za piće, ali se ista, bez obzira na eventualni drugačiji sastav, miris i ukus ili eventualni salinitet, smatra hemijski i bakteriološki
        ispravnom, za sve druge potrebe. Putnik preuzima obavezu poštivanja pravila ponašanja u određenom smještajnom objektu, koja se mogu odnositi na unos hrane i pića u sobe, uzdržavanje od uzimanja više hrane sa švedskog stola nego što je gostu potrebno,
        zabranu iznošenja hrane iz restorana, poštivanje reda, nemogućnost smještaja u sobe prije određenog vremena, po pravilima koje određuje hotelijer, obavezu napuštanja sobe u određeno vrijeme, pravila u pogledu oblačenja i sl. Vrijeme ulaska u sobu
        ili apartman i napuštanja sobe ne mora biti identično u svim objektima i isto određuje hotelijer (po pravilu, ukoliko nešto drugo nije predviđeno, ulazak u sobe najranije poslije 16 sati, a napuštanje sobe najkasnije do 9,00 sati posljednjeg dana.
        Ukoliko su dvije ili više osoba rezervisale zajedno smještajnu jedinicu, u slučaju promjene broja korisnika u okviru ugovorene smještajne jedinice (odustanka nekog od putnika sa ugovora), ako ne postoji zamjena za otkazanu osobu, obavezna je korekcija
        strukture smještajne jedinice i shodno tome i cijene aranžmana po važećem cjenovniku. U slučaju eventualne štete koju gost učini u smještajnoj jedinici ili objektu, dužan je da iznos nastale štete nadoknadi vlasniku objekta ili predstavniku lokalne
        agencije-ino partneru.
    </p>
    <br />
    <h6>8. PUTNE ISPRAVE I PRIJEVOZ</h6>
    <p>
        Svi uslovi objavljeni u programu putovanja odnose se ISKLJUČIVO NA DRŽAVLJANE BOSNE I HERCEGOVINE, te organizator putovanja NIJE dužan, niti ovlašten, upozoriti putnike – državljane drugih država na uslove (vizne na pr.) koji važe za odredišnu ili tranzitnu
        zemlju, već je isključiva obaveza putnika, stranog državljanina, da se o tome informiše kod nadležnog konzulata, te da, u skladu s tim, potrebne uslove i isprave obezbedi blagovremeno. Ukoliko se putovanje ne može realizovati iz naprijed navedenih
        razloga, s obzirom na naprijed navedeno, radi se isključivo o propustu putnika – stranog državljanina, budući DA OBJAVLJENI USLOVI VAŽE SAMO ZA DOMAĆE DRŽAVLJANE. Putnik je dužan da se sam stara o važnosti svojih putnih isprava i u slučaju potebe
        izvrši odgovarajuću provjeru kod nadležnih vlasti. Za putovanje u inostranstvo putnik mora imati važeću putnu ispravu sa rokom važenja još najmanje 6 mjeseci od dana završetka putovanja. Službenik agencije (organizatora putovanja ili subagenta-posrednika,
        kod koga se uplata vrši) nije ovlašten da utvrđuje validnost putnih i drugih isprava i dokumenata. Putnik je u obavezi da, u roku predvidjenom programom putovanja, dostavi potrebne podatke i prezentira dokumenta za vizu zemlje u koju putuje, ukoliko
        istu pribavlja organizator. U protivnom, za slučaj da ne dostavi potrebne isprave u roku, smatrat će se da je odustao od putovanja. Organizator putovanja ne garantuje dobijanje vize, niti dobijanje vize u roku, kao što ne odgovara za tačnost podataka
        u vizi, niti za eventulane greške učinjene od strane ambasade ili trećeg lica, a koje bi mogle uticati na valjanost i važnost vize. Neusklađenost ličnih podataka datih organizatoru sa podacima u pasošu putnika (imena putnika i dr.) mogu imati
        za posljedicu ispisivanje nove avionske karte, uz troškove ili čak proglašenje karte neregularnom, u toku putovanja, za šta posledice snosi sam putnik. Putnik je odgovoran za svoju avionsku kartu od trenutka kada je dobije od vodiča na aerodromu
        ili službenika agencije u poslovnici. Ne postoji mogućnost izdavanja duplikata avionske karte, kao ni bording karte, te putnik u cjelosti snosi posljedice gubitka istih. Avionske ili posebne prijevozne karte važe samo na dan naznačen na ispravi.
        Neispravnost bilo kojeg putnog dokumenta i nemogućnost realizacije putovanja usljed zabrane putniku, od strane pograničnih ili drugih nadležnih vlasti, ulaska, tranzita ili daljeg boravka u zemlji, je okolnost van domašaja organizatora putovanja,
        što molimo da imate u vidu. U tom slučaju, organizator će primijeniti odredbe tačke 10.opštih uslova putovanja. Putnik je u obavezi da se sam stara, tokom trajanja putovanja, o svojim putnim ispravama, te ukoliko izgubi putnu ispravu ili mu išta
        bude ukradena, dužan je o svom trošku obezbijediti novu i snositi sve eventualne štetne posljedice koje iz toga proisteknu. Prijevoz putnika avionom regulisan je međunarodnim propisima o avionskom prometu, kao i propisima avio kompanija koje orgranizator
        putovanja angažuje. Putovanja avionom na redovnim linijama podrazumijevaju prijevoz putnika ekonomskom klasom. Na pomjeranja predviđenog vremena polijetanja od strane avio-kompanije kao i zakašnjenja aviona na jednom ili više redovnih ili čarter
        letova u toku realizacije putovanja, organizator putovanja nema uticaja na eventualne posljedice izazvane zakašnjenjem, izazvanim bilo kojim uzrokom, koji je van sfere uticaja organizatora, kao što su bezbjednosni razlozi, dozvole kontrole leta,
        vremenski uslovi, tehnički kvarovi i sl. već se primjenju važeći propisi i uzanse u avio prometu. Putnik je u obavezi da sa posebnom pažnjom postupa prilikom prolaska uobičajenih procedura na aerodromima, te da se blagovremeno ukrca u avion, precizno
        slijedeći uputstva i upozorenja koja neposredno prije leta objavljuje avio kompanija, jer svaka nepažnja može za posljedicu imati da putnik, propusti let, ne ukrca se u avion, pogriješi izlaz-gate, ili zakasni. Naprijed navedeno se odnosi i na
        druge vidove prevoza i transfera. Cijena aerodromskih taksi i avio karata, podložna je promjenama, a istu propisuje avio prijevoznik, s tim što je relevantna cijena na dan realizacije leta, te se odbijanje putnika da plati eventulanu razliku u
        cijeni u odnosu na onu koja je važila u vrijeme zaključenja ugovora, smatra odustajanjem od putovanja, te povlači primjenu tač.10 ovih opštih uslova o putovanju. Prijevoz autobusom i autobuski transferi obavljaju se standardnim turističkim autobusima
        prema propisima i kriterijumima koji važe u zemlji u kojoj je registrovan prijevoznik koga je organizator putovanja angažovao. Po pravilu, sjedišta nisu numerisana, niti je utvrđen način promjene sjedišta tokom putovanja, ukoliko nešto drugo programom
        putovanja nije regulisano. Stoga, organizator, odnosno prijevoznik, je ovlašten sam izvršiti ad hoc raspored u zavisnosti od konkretnih prilika. Kašnjenja autobusa zbog vremenskih uslova, vanrednih prilika u prometu, prekomjernih zadržavanja na
        granicama, kvara i slično, po prirodi stvari su van uticaja organizatora, što molimo da imate u vidu. Putnik ima obavezu primjerenog ponašanja u prijevoznom sredstvu (ukoliko je pod uticajem alkohola, droge ili neprimjerenog ponašanja – organizator
        ima pravo da ga ne primi na prijevoz ili u prisustvu policije udalji iz prijevoznog sredstva, a dalji prijevoz do odredišta neće biti obaveza agencije, a ukoliko putnik ne dođe zbog udaljavanja iz prijevoznog sredstva do hotela, primjenjivat će
        se odredbe tačke 10. opštih uslova putovanja. U prijevoznim sredstvima zabranjeno je pušenje, konzumiranje opojnih sredstava, alkohola. Putnik ne smije uznemiravati svojim ponašanjem službena lica u autobusu-vozače i vodiče, u protivnom bit će
        odmah udaljen iz prijevoznog sredstva. Putni pravac, pauze, mjesto i dužine njihovog trajanja određuje vodič – vozač. Vodič-vozač ima pravo da, zbog neizbježnih okolnosti, promijeni red vožnje, itinerer puta ili redoslijed obilazaka lokalitata.
        Putnik ima obavezu da prihvati svako ponuđeno mjesto u prijevoznom sredstvu. Prenos prtljaga od mjesta parkiranja do smještajne jedinice je obaveza putniika (prevoz će biti što je moguće bliže smještaju). Ukoliko je transport prtljaga od parkinga
        do hotela u organizaciji hotela, organizator ne snosi odgovornost za nestanak ili oštećenje prtljaga. Za zaboravljene stvari u autobusu, agencija ne odgovara. Dužnost putnika je da vidljivo označi svoj prtljag sa ličnim podacima i da lične stvari
        i vrijednosti ne ostavlja u autobusu (agencija ne odgovara za njihov nestanak). Agencija ima pravo da za prijevoz angažuje sve tipove turističkih autobusa koji ispunjavaju uslove predviđene propisima o komforu autobusa (mini bus, autobus ili double
        decker) bez prethodnog informisanja putnika o tipu autobusa. Za vrijeme vožnje u autobusima nisu u upotrebi toaleti, osim ukoliko to nije odobreno. Putnik je dužan da svu nastalu štetu u prijevoznom sredstvu i smještajnom objektu nadoknadi na
        licu mjesta. Niti jedna vrsta prijevoza ne podrazumijeva uključen besplatan obrok niti piće u toku putovanja, ukoliko nešto drugo nije predviđeno programom. Prijevoz putnika željezničkim, morskim, riječnim ili jezerskim prijevoznim sredstvima
        obavlja se i direktna odgovornost ovih prijevoznika je određena u skladu sa propisima kojima se regulišu pomenute vrste prometa.
    </p>
    <br />
    <h6>9. PRAVO ORGANIZATORA PUTOVANJA NA OTKAZ</h6>
    <p>
        Organizator putovanja, može otkazati putovanje potpuno ili djelimično, u slučaju nastupanja vanrednih okolnosti koje se nisu mogle predvidjeti, izbjeći niti otkloniti, a koje bi, da su postojale u vrijeme objavljivanja programa, bile opravdan razlog organizatoru
        da program ne objavljuje i uplate ne prima. Ukoliko se putovanje sa ovih opravdanih razloga prekida, organizator ima pravo na naknadu za stvarno pružene usluge. Organizator je ovlašten otkazati putovanje u slučaju nedovoljnog broja prijavljenih
        putnika, u skladu sa odredbama programa putovanja, o čemu je dužan izvijestiti putnike blagovremeno, a najkasnije 5 dana prije predviđenog početka putovanja, uz obavezu da putniku izvrši povrat uplaćenih sredstava u cjelosti, bez odlaganja, a
        najkasnije u roku od 8 dana od dana otkaza. Ukoliko u programu putovanja nije nešto drugo navedeno, minimalan broj prijavljenih putnika za putovanje autobusom je 40 putnika, redovnim avio linijama u Evropi 20 putnika, za putovanje na interkontinentalnim
        avio linijama 15 putnika, a za putovanje na posebno ugovorenim čarter linijama, vozovima ili hidrogliserima najmanje 80% popunjenosti kapaciteta istih. U slučaju potpunog odustanka od ugovora organizator će nastojati da putniku ponudi alternativni
        program putovanja za istu ili drugu destinaciju, koji putnik pisanim putem u roku od 24 sata prihvata ili odbija, u tom slučaju će stranke medđsobne odnose regulisati ugovorom. Organizator se oslobađa ispunjenja Ugovora onda, ako putnik u okviru
        grupnog putovanja ometa sprovođenje putovanja usljed grubog i nedoličnog ponašanja, bez obzira na izrečenu opomenu. U tom slučaju putnik ima obavezu, ukoliko je kriv, da organizatoru nadoknati pričinjenu štetu. Ukoliko se započeto putovanje iz
        opravdanih razloga prekine, organizator ima pravo na naknadu za stvarno izvršene usluge.
    </p>
    <br />
    <h6>10. ODUSTAJANJE PUTNIKA OD PUTOVANJA</h6>
    <p>
        Putnik, u svako doba, ima pravo da odustane od putovanja, o čemu je dužan pismeno izvijestiti organizatora putovanja. Datum pismenog otkaza predstavlja osnov za obračun naknade koja u skladu sa zakonom, pripada organizatoru, izražene procentualno u odnosu
        na ukupnu cijenu putovanja, ako programom putovanja nije drugačije određeno i to:
    </p>
    <p>
        5 % ako se putovanje otkaže od dana potpisa ugovora do 45 dan prije početka putovanja (blagovremeni otkaz)
    </p>
    <p>10% ako se putovanje otkaže od 44 do 30 dana prije početka putovanja,</p>
    <p>20 % ako se putovanje otkaže od 29 do 20 dana prije početka putovanja,</p>
    <p>40 % ako se putovanje otkaže od 19 do 15 dana prije početka putovanja,</p>
    <p>80 % ako se putovanje otkaže od 14 do 10 dana prije početka putovanja,</p>
    <p>95 % ako se putovanje otkaže od 9 do 6 dana prije početka putovanja</p>
    <p>
        100 % ako se putovanje otkaže od 5 do 0 dana prije početka putovanja ili u toku putovanja.
    </p>
    <p>
        Putnik je u obavezi organizatoru nadoknaditi samo stvarne, odnosno učinjene troškove ukoliko je do otkaza došlo zbog okolnosti koje nije mogao predvidjeti, otkloniti, niti izbjeći, a koje bi, da su postojale u vrijeme zaključenja ugovora, predstavljale
        opravdan razlog da se ugovor ne zaključi: iznenadne bolesti putnika, bračnog druga, djeteta, roditelja, brata ili sestre putnika, smrti putnika, bračnog druga, djeteta, roditelja, usvojenika ili usvajatelja, brata ili sestre putnika ili elementarne
        nepogode zvanično proglašene. O nastupanju naprijed navedenih okolnosti putnik mora pružiti valjane dokaze (smrtni list, dokaz kojim se ostvaruju prava iz zdravstvenog osiguranja za slučaj privremene spriječenosti za rad, otpusnu listu bolničke
        ustanove i sl.) i jedino pod tim uslovom može zahtijevati povrat uplaćenih sredstava, ako ista prelaze stvarne troškove organizatora. Situacije kao što su, primjera radi, teroristički napadi, eksplozije, bolesti, zaraze, epidemija, zabrana putovanja
        i sl. povodom kojih je zvanično proglašeno vanredno stanje i to u administrativnoj oblasti gdje se nalazi odredišna destinacija, u vrijeme predvidjeno za putovanje, u dužem trajanju, mogu se smatrati opravdanim razlozima za otkaz u smislu gore
        navedene odredbe. Organizator putovanja, u slučaju da putnik koji je odustao, obezbijedi odgovarajuću zamjenu ili zamjenu izvrši sam organizator, dužan je putniku izvršiti povrat uplaćenih sredstava u ukupnom iznosu, po odbitku samo stvarnih i
        učinjenih troškova. U slučaju odustajanja jednog od putnika – korisnika aranžmana, postoji obaveza doplate, primjera radi, za jednokrevetnu sobu, dvokrevetni apartman umjesto trokrevetnog i sl., a sve prema programu putovanja i objavljenom cjenovniku.
        Promjena (po želji putnika) ugovorenog mjesta i datuma putovanja, smještajnog objekta, smještajne jedinice, nedobijanje vize ili neblagovremeno dobijanje vize i sl. smatra se odustajanjem putnika od putovanja, u tom slučaju se primjenjuju odredbe
        tač. 10. ovih uslova. Kod otkaza ugovora, organizator putniku ne vraća uplaćeni iznos na ime osiguanja i dobijanja viza.
    </p>
    <br />
    <h6>11. IZMJENA PROGRAMA PUTOVANJA</h6>
    <p>
        Organizator putovanja ima pravo na izmjenu programa putovanja, ukoliko je ista uzrokovana vanrednim okolnostima koje organizator nije mogao predvidjeti, izbjeći ili otkloniti, s tim da troškovi koji su nastali usljed izmjene programa padaju na teret organizatora.
        Organizator putovanja zadržava pravo promjene dana ili sata putovanja, produženja ili skraćenja trajanja aranžmana kao i pravo promjene redoslijeda u programu, ukoliko dodje do promjene uslova (red letenja, prinudna slijetanja, kvar prevoznog
        sredstva, gužva na granicama ili u prometu, bezbjednosna situacija u odredjenoj zemlji, štrajkova koji utiču na realizaciju rograma, elementarne nepogode, zatvaranje nekog od lokaliteta predvidjenog za obilazak, promjena u viznom režimu ili kakve
        druge vanredne okolnosti) bez obaveze isplate štete ili kakve druge naknade putniku. Do naprijed navedene promjene može doći u toku realizacije putovanja i usljed specifičnosti na pojedinim destinacijama u odnosu na kalendarski period (vjerski
        praznici i običaji, državni praznici i sl.). U tom slučaju, organizator je dužan bez odlaganja izvijestiti putnika o promjeni, na način koji je u datom trenutku najefikasniji, s tim da je usmeno obavještenje relevantno u posebnim okolnostima (ukoliko
        zbog nedostatka vremena nije moguće uputiti isto pismenim putem). Ukoliko se započeto putovanje iz opravdanih prazloga prekine, organizator ima pravo na nadoknadu za stvarno izvršene usluge. Zamjena ugovorenog smještaja može se vršiti samo upotrebom
        objekata iste kategorije ili, na teret organizatora, upotrebom objekata više kategorije i u ugovorenom mjestu smještaja, pa ukoliko je do izmjene u programu došlo iz razloga i na način koji su predvidjeni zakonom i ovim opštim uslovima, to ponudom
        drugog objekta u okviru zakonom predvidjenih ograničenja organizator je ispunio svoju obavezu, postupajući u skladu sa zakonom. Smještaj u objekte niže kategorije može se izvršiti samo uz saglasnost putnika, uz povrat razlike u cijeni srazmjerno
        kategoriji smještajnog objekta.
    </p>
    <br />
    <h6>12. PRIGOVOR I REKLAMACIJA PUTNIKA I RJEŠAVANJE SPOROVA</h6>
    <p>
        Svaki putnik pojedinačno (potpisnik ugovora u svoje ime i u ime osoba iz ugovora) ima pravo prigovora zbog neizvršene ili djelimično izvršene usluge te je dužan organizatoru putovanja uložiti pismenu, blagovremenu, obrazloženu reklamaciju sa priloženim
        dokazima, najkasnije u roku od 8 dana od dana završetka putovanja. Za prigovore, pritužbe, reklamacije, pomoć i hitne slučajeve putnik može kontaktirati organizatora na telefon broj + 387 33 721 630 u radno vrijeme od 09.00 h do 18.00 h (radnim
        danima) ili na adresu Radičeva br.3 u Sarajevu. U Vašem je interesu da prigovor izjavite u roku kako bi organizator mogao isti detaljno razmotriti, s tim da ukazujemo da organizator nije u mogućnosti da valjano razmatra grupne reklamacije dostavljene
        bez uredne punomoći za zastupanje, kao ni grupne reklamacije bez činjenično konkretizovanog prigovora u odnosu na svakog korisnika ponaosob. U interesu je putnika, zbog blagovremenog otklanjanja, eventualnih, propusta da svoju reklamaciju uputi
        na licu mjesta ovlaštenom predstavniku organizatora putovanja ili drugoj zaduženoj osobi, koja mora biti dokumentovana od strane ovlaštenog predstavnika organizatora putovanja ili druge zadužene osobe, te ako je uzrok prigovora otklonjen na licu
        mjesta, putnik o tome potpisuje odgovarajuću potvrdu, a u suprotnom, činjenica da je nastavio sa korištenjenjem ponudjenih usluga, smatra se da je sa datim rješenjem u potpunosti saglasan. Ukoliko uzrok prigovora nije mogao biti otklonjen na licu
        mjesta, putnik o tome, kao dokaz, potpisuje potvrdu zajedno sa predstavnikom organizatora. Putnik ne može da zahtijeva srazmjerno sniženje cijene ukoliko nesavjesno i na propisani način propusti da ukaže organizatoru na odstupanje izmedju ugovorenih
        i pruženih usluga. Putnik je u obavezi da dobronamjerno sarađuje i strpljivo sačeka vremenski okvir od 24 do 48 h da se opravdani prigovor otkloni (kvar frižidera, nestanak struje ili vode, loše očišćen apartman i dr.). Ukoliko je do neizvršenja
        ili nepotpunog izvršenja usluga došlo krivicom organizatora putovanja, putnik ima pravo sniženja cijene u visini realne razlike izmedju ugovorenih i stvarno izvršenih usluga. Organizator je u obavezi odgovoriti na primljenu pismenu, urednu i blagovremenu
        reklamaciju u roku od 15 dana od dana prijema iste odnosno u istom roku izvršiti povrat sredstava na ime sniženja cijene, za slučaj da je prigovor opravdan. Ukoliko prigovor nije uredan da bi se po njemu moglo postupati, organizator će dostaviti
        putniku dopis-odgovor sa pozivom da isti u ostavljenom roku uredi, pod prijetnjom posljedica propuštanja. U interesu obje ugovorne strane, prije svega sa razloga ekonomičnosti i cjelishodnosti je da putnik, do dobijanja odgovora povodom reklamacije,
        ne inicira druge zakonom predvidjene postupke, radi čega će se svaki zahtjev putnika za pokretanje postupka pred nadležnim organima, prije isteka roka za rješavanje prigovora, smatrati preuranjenim, što se odnosi i na obavještavanje javnih medija
        o spornom odnosu. Visina naknade, koja se isplaćuje po osnovanom i blagovremenom prigovoru, srazmjerna je stepenu neizvršene, odnosno djelimično izvršene usluge, što znači da ista ne može podrazumijevati i obuhvatiti iskorištene usluge, niti dostići
        iznos cjelokupne cijene aranžmana. Ukoliko putnik prihvati isplatu naknade na ime srazmjernog sniženja cijene ili koji drugi vid naknade, podrazumijeva se da je saglasan sa prijedlogom organizatora za mirno rješenje spora, te se na taj način odrekao
        svih daljih potraživanja prema organizatoru u vezi spornog odnosa, po bilo kom osnovu, bez obzira na činjenicu da li je o tome potpisao pismenu potvrdu o izvršenoj refundaciji sa klauzulom o konačnom razrješenju medjusobnih spornih odnosa. Smatrat
        će se da je povrat razlike u cijeni putniku izvršen i postignut dogovor sa putnikom u skladu sa zakonom i ovim opštim uslovima, kada je organizator putniku ponudio realnu razliku u cijeni za neadekvatno pružene usluge, u skladu sa cjenovnikom
        neposrednog pružaoca usluga koji je važio na dan zaključenja ugovora o putovanju i drugim raspoloživim dokazima, te da je organizator postupio u skladu sa pozitivnim propisima.
    </p>
    <br />
    <h6>13. PRTLJAG</h6>
    <p>
        Prijevoz prtljaga do odredjene težine koju određuje prijevoznik je besplatan. Višak prtljaga putnik plaća prema važećim cijenama prijevoznika. Preporučuje se da se zlato, vrijedne stvari, tehnički instrumenti i medikamenti nose isključivo u ručnom prtljagu.
        Prijevoz prtljaga avionom podrazumijeva dozvoljenu težinu prtljaga do 20 kg po osobi. Svaki višak težine se naplaćuje naknadno po kilogramu u zavisnosti od važećih pravila avio kompanije – avio prijevoznika. Kod prijevoza autobusom putnik može
        ponijeti 1 komad prtljaga po osobi uobičajene veličine, ukupne težine do 20 kg. U slučaju prekoračenja ukupne težine prtljaga, prijevoznik zadržava pravo naplate viška prtljaga 2 € po kilogramu, u BAM. Djeca do dvije godine nemaju pravo na besplatan
        prtljag. Putnik je dužan voditi brigu o svojim stvarima, unesenim u kabinu prijevoznog sredstva, kao i davanju odnosno preuzimanju prtljaga predatog prijevozniku, kao i o prtljagu unesenim u smještajni objekat, u kojem slučaju je putnik dužan
        neprekidno imati pod kontrolom svoj prtljag, od trenutka ulaska do trenutka napuštanja hotela, posebno u holovima i zajedničkim prostorijama. Organizator ne može biti odgovoran za izgubljeni, oštećeni ili ukradeni prtljag tokom putovanja, kao
        ni onaj koji je stigao sa zakašnjenjem ili poslije putovanja. Sva svoja prava po navedenom osnovu, putnik ostvaruje direktno od prijevoznika, pružaoca usluge smještaja ili osiguravača i dr. prema važećim međunarodnim i domaćim posebnim propisima
        koji važe u toj oblasti i važećim uzansama.
    </p>
    <br />
    <h6>14. CARINSKI I DEVIZNI PROPISI</h6>
    <p>
        Putnik je dužan striktno poštovati carinske i devizne propise, kako Bosne i Hercegovine, tako i propise i zakone zemalja kroz koje prolazi i u kojima boravi. U slučaju nemogućnosti nastavka putovanja zbog kršenja navedenih propisa sve posljedice i troškove
        snosi sam putnik. Putnik je dužan od pograničnih vlasti obezbijediti odgovarajuću potvrdu o svim svojim vrijednostima i dragocjenostima koje nosi sa sobom, a iste je u obavezi, prilikom smještaja deponovati u sef ili na recepciju smještajnog objekta.
    </p>
    <br />
    <h6>15. ZDRAVSTVENI PROPISI</h6>
    <p>
        Putnik je dužan prilikom zaključenja ugovora, izbora destinacije, načina prijevoza i sl. voditi računa o svom zdravstvenom stanju i zdravstvenom stanju djece i osoba koja sa njim putuju (hronične bolesti, alergije, starosna dob, invaliditet, psihijatrijske
        bolesti i drugo, pa usljed toga neophodnost specifične ishrane, smještaja, posebnih usluga i tretmana), te pismeno ugovoriti posebne usluge, vezano za to, a u protivnom, organizator putovanja ne preuzima nikakve posebne obaveze, niti može snositi
        odgovornost za štetu po tom osnovu, niti bilo kakva reklamacija sa tim u vezi može biti osnovana. Organizator putovanja ne može snositi odgovornost za slučaj prekida putovanja, uskraćivanja boravka putniku ili drugih odstupanja od programa i nemogućnosti
        realizacije istog, od strane nadležnih organa, usljed sprovodjenja mjera zaštite od širenja zaraznih bolesti i sl. Sve naprijed navedeno se odnosi, naročito, i na izbor fakultativnih izleta bez obzira što isti nisu sastavni deo programa putovanja
        i što ih organizuje strana agencija – treće lice. Putovanja u neke zemlje, u kojima važe posebna pravila koja obuhvataju obaveznu vakcinaciju ili pribavljanje odredjenih dokumenata, podrazumijevaju obavezu putnika da obavi potrebne vakcinacije
        i obezbijedi odgovarajuće potvrde o tome. Preporučujemo uplatu polise međunarodnog putnog zdravstvenog osiguranja. Posebno upozoravamo, da odabirom vaneuropskih destinacija (posebno afričkih i azijskih) putnik preuzima rizik od nastupanja zdravstvenih
        komplikacija i posljedica, koje mogu nastati usljed reakcije organizma na drugačiji sastav vode, hrane, vazduha i sl. Ukoliko Vaš aranžman obuhvata osiguranje (što mora biti izričito navedeno u programu putovanja) na osiguranje se primjenjuju
        Uslovi osiguranja, te je neophodno da se sa istima detaljno upoznate, jer je u njima sadržan nivo usluga i uputstvo koje, kao korisnik osiguranja, morate slijediti radi ostvarivanja svojih prava.
    </p>
    <br />
    <h6>16. ZAŠTITA LIČNIH PODATAKA PUTNIKA</h6>
    <p>
        Lični podaci putnika predstavljaju poslovnu tajnu organizatora putovanja. Putnik je saglasan da lične podatke organizator putovanja može koristiti za realizaciju ugovorenog programa putovanja pri čemu se ne mogu saopštavati adrese, mjesto i vrijeme, cijena
        putovanja i imena saputnika, osim po odobrenju samog putnika ili na zahtjev nadležnih organa, u zakonom predvidjenom postupku, u skladu sa posebnim propisima.
    </p>
    <br />
    <h6>17. OSIGURANJE</h6>
    <p>
        Organizator putovanja je dužan informisati putnika o mogućnostima obezbjeđenja polisa medjunarodnog putnog zdravstvenog osiguranja tokom boravka u inostranstvu, kao i paketa putnog osiguranja (osiguranje prtljaga, osiguranje od posljedica nesretnog slučaja,
        osiguranje od otkaza putovanja, osiguranje prtljaga i dr.) za putovanja u inostranstvu i u Bosni i Hercegovini. Preporučuje se putniku da obezbijedi polise za navedeni paket putnog osiguranja. Potpisivanjem ugovora putnik potvrđuje da mu je ponuđen
        paket putnog osiguranja. Paket putnog osiguranja ne pokriva obavezno zdravstveno osiguranje koje putnik posebno plaća uz zahtjev za izdavanje ulazne vize.
    </p>
    <br />
    <h6>18. INFORMACIJE</h6>
    <p>
        Usmene informacije i bilo koje druge vrste informacija, koje se razlikuju od onih koje su sadržane u ugovorenom pismenom programu putovanja ne obavezuju organizatora putovanja. Organizator putovanja BH PASSPORT D.O.O posjeduje, polisu osiguranja od odgovornosti
        iz djelatnosti br._____ osiguravajućeg društva koje važi od________. do ________.god., na iznos od 100.000 BAM, koja pruža osiguravajuće pokriće za štete koje se prouzrukuju putniku neispunjenjem, djelimičnim ispunjenjem ili neurednim ispunjenjem
        obaveza osuguranika kao organizatora putovanja koje su određene opštim uslovima i programom putovanja i kojom se obezbjedjuju troškovi za slučaj nesolventnosti organizatora putovanja (osiguranika) i štete prouzrokovane usljed nemogućnosti osiguranika
        kao organizatora putovanja da izmiri troškove nužnog smještaja, ishrane i povratka putnika u mjesto polaska u zemlji i inostranstvu. U slučaju nelikvidnosti ili stečaja organizatora, putnici zatečeni na putovanju trebaju na najbrži način kontaktirati
        osiguravatelj. Potrebno je da putnik navede broj ugovora i mjesto putovanja, imena putnika, adresu ili broj telefona preko kojih ih osiguravatelj može kontaktirati. Potpisivanjem ugovora o putovanju, putnik potvrđuje da su mu uručeni opšti uslovi
        i da iste u cjelosti prihvata, kao i da je upoznat sa drugim vidovima osiguranja koje ovaj osiguravatelj nudi.
    </p>
    <br />
    <h6>19. POPUSTI ZA DJECU</h6>
    <p>
        Molimo da pažljivo proučite naše uslove koji se odnose na ostvarivanje popusta za djecu, kao i na ostale pogodnosti koje su posebno date u programu putovanja. Ovi uslovi su odredjeni od strane hotelijera i iste treba tumačiti restriktivno (to znači ako
        popust ostvaruju, primjera radi, djeca do dvije godine, relevantan je kalendarski datum kada dijete navršava dvije godine u momentu početka putovanja i ništa preko toga).
    </p>
    <br />
    <h6>20. INDIVIDUALNA PUTOVANJA NA UPIT I POJEDINAČNE USLUGE</h6>
    <p>
        Za individualne rezervacije na upit putnik polaže na ime troškova rezervacije depozit koji ne može biti manji od 30 BAM. Ukoliko rezervacija bude prihvaćena od strane putnika, depozit se uračunava u cijenu aranžmana. Ukoliko rezervaciju organizator ne
        potvrdi, depozit se u cjelosti vraća putniku. Ako putnik ne prihvati ponuđenu ili potvrđenu rezervaciju, iznos depozita zadržava organizator u cjelosti. Organizator, ne odgovara za nedostatke, materijalna i tjelesna oštećenja kod individualnih
        turističkih usluga, po zahtjevu putnika, za koje je on samo posrednik između putnika i neposrednih pružaoca usluga (npr. pojedinačna usluga smještaja, prijevoza, ulaznice za sportske manifestacije, izlete, rent-a car i dr.)
    </p>
    <br />
    <h6>21. UPOZORENJE</h6>
    <p>
        * Preporučujemo da zamjenu deviza vršite u ovlaštenim mjenjačnicama, da biste izbjegli sve eventualne rizike.
    </p>
    <p>
        * Posebno molimo putnike da se brižljivo staraju o svom novcu, dragocjenostima i vrijednim stvarima, jer organizator putovanja ne snosi odgovornost za gubitak ili kradju istih, a preporučujemo da svoje dragocjenosti obezbijedite u sefu, shodno pravilima
        i uslovima hotela u kojem ste smješteni.
    </p>
    <p>
        * Za slučaj bilo kakve incidentne situacije, koja spada u domen prekršajne ili krivično pravne odgovornosti (krađa, tuča, saobraćajna nezgoda i sl.) nadležni su organi gonjenja domicilne zemlje, te ukoliko do takvih situacija dodje, prijavu morate uputiti
        bez odlaganja. Organizator putovanja (naš predstavnik) je jedino ovlašten da Vam pomogne u posredovanju između Vas i nadležnih vlasti, samo za vrijeme trajanja aranžmana.
    </p>
    <p>
        * Molimo da, obavezno, dva dana pred početak putovanja, provjerite vrijeme polaska. Kod čarter aranžmana, promjena vremena polijetanja u odlasku ili povratku se ne smatra izmjenom u programu putovanja, jer ista zavisi od okolnosti koje nisu u kompetenciji
        organizatora putovanja (dozvola vazduhoplovnih vlasti, kontrole leta, bezbjedonosnih razloga i sl.) te promjena vremena polijetanja aviona, u odlasku ili povratku, pa čak i u slučaju da slijetanje iz objektivnih okolnosti bude nakon ponoći i ulazi
        u drugi kalendarski dan ili je u pitanju bilo kakva vanredna situacija, kao što je prinudno slijetanje, kvar aviona i sl. predstavlja uobičajen rizik, na koji agencija ne može uticati.
    </p>
    <p>
        <b>* Organizator putovanja nema uticaja na događaje koji su van sfere
      njegove djelatnosti, kao što su obustave rada, štrajkovi, teroristička
      dejstva, vremenski uslovi, prirodne katastrofe, epidemije i sl., a koji
      dovode do pomjeranja vremena ili dana polaska i dolaska ili dovode do
      nemogućnosti realizacije putovanja, prema programu putovanja.</b
    >
  </p>
  <p>
    * Poštovani putnici, želimo da Vas upozorimo da usljed svjetske ekonomske
    krize može doći do opadanja kvaliteta i servisa hotelskih usluga, na svim
    destinacijama, na šta BH Passport ne može imati uticaja.
  </p>
  <p>
    * Ukoliko putnik tokom putovanja samovoljno napusti grupu, predstavnik
    organizatora putovanja može o istom odmah obavijestiti nadležne lokalne,
    pogranične organe i ambasadu dotične zemlje.
  </p>
  <p>
    * MOLIMO DA PAŽLJIVO PROČITATE PROGRAM PUTOVANJA I OPŠTE USLOVE PUTOVANJA
    KAO I USLOVE OSIGURANJA, JER ONI ČINE SASTAVNI DIO UGOVORA O PUTOVANJU I
    OBAVEZUJUĆI SU ZA OBJE UGOVORNE STRANE.
  </p>
  <p>
    * Na sva pitanja koja nisu uredjena ovim Opštim uslovima primenjuju se
    odredbe Zakona o turizmu FBiH, Zakona o obligacionim odnosima i Zakona o
    zaštiti potrošača.
  </p>
  <p>
    * Za putovanja koja imaju posebna obilježja (kongresi, sajmovi, školske i
    studentske ekskurzije i dr. specijalna putovanja ) organizator može da utvrd
    i i objavi »Posebne uslove putovanja« koji imaju važnost samo za odredjena
    putovanja i čine sastavni dio ugovora o putovanju.
  </p>
  <p>
    * U slučaju zakonom predvidjene stvarne nadležnosti redovnog suda stranke
    ugovaraju mjesnu nadležnost suda prema sjedištu organizatora putovanja. Ovi
    Opšti uslovi se primenjuju počev od 01.04.2013.g. kada prestaju da važe
    Opšti uslovi putovanja od 28.12.2010.g
  </p>
  <br />
  <h6>Globetraveler d.o.o</h6>
  <p>Direktor</p>
</div>
<app-footer> </app-footer>