<div class="background">
    <div class="container d-flex justify-content-center">
        <div class="row my-5">
            <div class="col-md-6 text-left text-white lcol">
                <div class="greeting">
                    <h3>Dobrodošli u <span class="txt">globetraveler</span></h3>
                </div>
                <h6 class="mt-3">Polazna tačka Vašeg savršenog putovanja...</h6>
                <div class="footer">
                    <div class="socials d-flex flex-row justify-content-between text-white">
                        <div class="d-flex flex-row">
                            <i class="fab fa-linkedin-in"></i><i class="fab fa-facebook-f"></i
              ><i class="fab fa-twitter"></i>
                        </div>
                        <span>Privacy Policy</span> <span>&copy; 2021 globetraveler</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rcol">
                <form class="sign-up" [formGroup]="identifierForm">
                    <h3 style="font-family: 'Nunito'" class="heading mb-4">
                        Zaboravili ste password?
                    </h3>

                    <h6 style="font-family: 'Nunito'" class="heading mb-4">
                        Unesite svoj username ili email
                    </h6>
                    <div class="orm-group fone mt-2">
                        <i class="fas fa-user"></i>
                        <input autocomplete="off" formControlName="identifier" placeholder="Username ili email" name="username " type="text" class="form-control" required id="exampleInputUsername1" aria-describedby="usernameHelp" />
                    </div>
                </form>

                <button (click)="sendRequest()" class="btn btn-primary" style="width: 200px; margin: 20px 0 30px 0">
          Nastavi
        </button>
                <p class="exist mt-4">
                    Nemate račun?
                    <span (click)="dispatchToSigUp()">Registrirajte se</span>
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>