<div class="containerr">
    <ngb-carousel *ngIf="fetchedData" class="slider">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fetchedData[2]?.image" alt="Random third slide" />
            </div>
            <div (click)="detect(fetchedData[2]?.id)" class="carousel-caption">
                <h1>{{ fetchedData[2]?.name | uppercase }}</h1>
                <h3>od {{ fetchedData[2]?.price }} €</h3>
                <p>Globetraveler | Polazna tačka Vašeg savršenog putovanja</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fetchedData[7]?.image" alt="Random second slide" />
            </div>
            <div (click)="detect(fetchedData[7]?.id)" class="carousel-caption">
                <h1>{{ fetchedData[7]?.name | uppercase }}</h1>
                <h3>od {{ fetchedData[7]?.price }} €</h3>
                <p>Globetraveler | Polazna tačka Vašeg savršenog putovanja</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="fetchedData[6]?.image" alt="Random first slide " />
            </div>
            <div (click)="detect(fetchedData[6]?.id)" class="carousel-caption">
                <h1>{{ fetchedData[6]?.name | uppercase }}</h1>
                <h3>od {{ fetchedData[6]?.price }} €</h3>
                <p>Globetraveler | Polazna tačka Vašeg savršenog putovanja</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>